<div class="row">
    <div class="col-xs-1">
        <a ng-click="vote(1)" class="post-vote" ng-class="{'upvoted': post.userVote==1}">
            <i class="fa fa-sort-up"></i>
            <span class="post-vote-button--count">{{post.points}}</span>
        </a>
    </div>
    <div class="col-xs-2">
        <img height="100" src="/assets/images/lab.png"/>
    </div>
    <div class="col-xs-5 col-md-7">
        <a class="post-title" ng-href="/post/{{post.id}}" ng-click="openPost()">{{post.content[language].title}}</a>
        <div class="post-user">
            {{post.user.username}}
        </div>
    </div>
    <div class="col-xs-2">
        <span>
            <span class="user-image">
                <img height="30" class="language-switch" ng-src="{{languageService.getLanguageImage(language)}}" width="30" ng-click="changeLanguage()"/>
            </span>
        </span>
    </div>
</div>
<hr>