<div role="dialog" tabindex="-1" class="modal top am-fade-and-slide-top" style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button ng-click="$hide()" class="close" type="button">×</button>
				<h4 class="modal-title">
					<span class="user-image">
						<img height="30" width="30" ng-src="{{languageService.getLanguageImage(language)}}" width="45" ng-click="changeLanguage()"/>
					</span>
					{{ 'submit_post' | translation: language }}
				</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label for="url">{{ 'url' | translation: language }}</label>
						<input type="text" class="form-control" id="url" ng-model="post.url">
					</div>
					<div class="form-group">
						<label for="title">{{ 'title' | translation: language }}</label>
						<input type="text" class="form-control" id="title" ng-model="post.content[language].title">
					</div>
					<div class="form-group">
						<label for="message">{{ 'message' | translation: language }}</label>
						<textarea class="form-control" id="message" ng-model="post.content[language].message"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button ng-click="$hide()" class="btn btn-default" type="button">{{ 'cancel' | translation: language }}</button> 
				<button ng-click="savePost()" class="btn btn-primary" type="button">{{ 'submit' | translation: language }}</button>
			</div>
		</div>
	</div>
</div>